#agent_id = 00000000-0000-0000-0000-000000000001 # this should be kept commented except for testing purposes
agent_info_loop_interval_sec = 60
neighbourhood_arp_timeout_sec = 5
data_transfer_loop_interval_sec = 60
log_level = debug
manual_hosts = 192.168.122.51,irc.freenode.net,abola.pt
mongo_collection = agents
mongo_db = siaas
mongo_host = 127.0.0.1
mongo_port = 27017
mongo_pwd = siaas
mongo_user = siaas
neighbourhood_loop_interval_sec = 60
nmap_portscan_timeout_sec = 300
nmap_script = vulners
#nmap_script = /home/ubuntu/siaas-agent/tmp/nmap-vulners
nmap_sysinfo_timeout_sec = 600
#portscanner_enabled = false
portscanner_loop_interval_sec = 1
