# Protected configurations (last for the whole run and can't be changed remotely)

agent_id = 00000000-0000-0000-0000-000000000001 # this should be kept commented except for testing purposes
log_level = debug
mongo_collection = siaas
mongo_db = siaas
mongo_host = 127.0.0.1
mongo_port = 27017
mongo_pwd = siaas
mongo_user = siaas
#offline_mode = true

# Runtime configurations (can be changed during runtime by the remote server)

agent_info_loop_interval_sec = 60
data_transfer_loop_interval_sec = 120
#disable_portscanner = true
#ignore_neighbourhood = true
#manual_hosts = 192.168.122.51,irc.freenode.net,abola.pt
neighbourhood_arp_timeout_sec = 5
neighbourhood_loop_interval_sec = 60
nmap_portscan_timeout_sec = 300
#nmap_scripts = vulners
#nmap_scripts = nmap-vulners,vulscan
nmap_scripts = nmap-vulners,vulscan,vuln,http-csrf,http-sherlock,http-slowloris-attack,http-vmware-path-vuln,http-passwd,http-internal-ip-disclosure,http-vuln-cve2013-0156
nmap_sysinfo_timeout_sec = 600
portscanner_loop_interval_sec = 60
#silent_mode = true
